
@*referenciando LancheListViewModel  *@
@model LancheListViewModel

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>


<div class="container">
<div class="row">
@foreach (var lanche in Model.Lanches)
{
    //PartialView serve para usar a o "Código html de View" nas demais views
    //referenciando a partialView _LanchesResumo (criada na pasta shared)
    <partial name="_LanchesResumo" for ="@lanche"/>
   
}

    </div>
    </div>
   
   
   